<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507103837596-jndbif1mk0f88i1ph6bd6efm8u1rhcm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507103837596-jndbif1mk0f88i1ph6bd6efm8u1rhcm4</string>
	<key>API_KEY</key>
	<string>AIzaSyC1zq-oBKbPER5Fp0WfkpPpl5zeapgmsl0</string>
	<key>GCM_SENDER_ID</key>
	<string>507103837596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apptexto</string>
	<key>PROJECT_ID</key>
	<string>cad-pessoas-61c8d</string>
	<key>STORAGE_BUCKET</key>
	<string>cad-pessoas-61c8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507103837596:ios:aabac5049e39336d3b5c59</string>
</dict>
</plist>